@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@code {
    protected async override Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsStringAsync("token");

            if (string.IsNullOrEmpty(token))
            {
                navigationManager.NavigateTo("Login");
            }
            else
            {
                navigationManager.NavigateTo("TaskList");
            }
        }
    }
}

